Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
CRPG/Plugins/Developer/
DefaultEditor.ini

.vscode
.vs
.vsconfig
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.user
*.xcodeproj
*.xcworkspace